<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">  
<suite name="IneuronPractice" parallel="tests" thread-count="3">  
  <test name="chromeTest" >
  <parameter name="browserName" value="Chrome"/>  
    <classes>  
      <class name="Assignment12.Task1"/>    
    </classes> 
    </test> 
    <test name="EdgeTest" >
  <parameter name="browserName" value="Edge"/>  
    <classes>  
      <class name="Assignment12.Task1"/>    
    </classes>  
  </test>  
    <test name="FireFoxTest" >
  <parameter name="browserName" value="FireFox"/>  
    <classes>  
      <class name="Assignment12.Task1"/>    
    </classes>  
  </test>  
</suite>